<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Available Vehicles</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  @using CarDealership.Models;

  <h1>Available Vehicles</h1>

  @if (Model.Count == 0)
  {
    <p>Sorry, there are no available vehicles at this time. Check again soon!</p>
  }
 else {
  <ul>
    @foreach (Car car in Model)
    {
      <li>@car.MakeModel</li>
    }
  </ul>
 }
  
  <br><a href='/add'>Add to inventory</a>


</body>

</html>